.login {
    padding: 20px;
    background: white;
    margin-top: 20px;
    max-width: 350px;
    max-height: 350px;
    border-radius: 5px;
}

#navbar-username {
    color: white;
}

body {
    background: #000000;
}

.card {
    background: #ffffff;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    background: #444444;
    color: white;
}

.nav-link:hover {
    background: #555555;
    border-radius: 5px;
}

#success-alert {
    z-index: 999;
    position: fixed;
    opacity: 0.8;
}

table {
    margin-top: 20px;
}
